polkit.addRule(function(action,subject){
    if ( (action.id == "org.freedesktop.policykit.exec") &&
         (action.lookup("user") == "root") &&
         (action.lookup("program") == "/home/deck/.tools/wifi-set-power-save.sh") &&
         (subject.isInGroup("wheel") ) )
      return polkit.Result.YES;

    return polkit.Result.NOT_HANDLED;
  }
);

// Ref: https://stackoverflow.com/questions/61480914/using-policykit-to-allow-non-root-users-to-start-and-stop-a-service